<!-- <p id="notice"><%#= notice %></p>

<h1>Spree Store Requests</h1>

<table>
  <thead>
    <tr>
      <th>Store name</th>
      <th>Contact name</th>
      <th>Contact number</th>
      <th>Contact email address</th>
      <th>Store number</th>
      <th>Store email address</th>
      <th>Store address</th>
      <th>Store open hours</th>
      <th>Store social media</th>
      <th>Store desr</th>
      <th>Store tags</th>
      <th>Store main img</th>
      <th>Store logo</th>
      <th>Store list image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @spree_store_requests.each do |spree_store_request| %>
      <tr>
        <td><%#= spree_store_request.store_name %></td>
        <td><%#= spree_store_request.contact_name %></td>
        <td><%#= spree_store_request.contact_number %></td>
        <td><%#= spree_store_request.contact_email_address %></td>
        <td><%#= spree_store_request.store_number %></td>
        <td><%#= spree_store_request.store_email_address %></td>
        <td><%#= spree_store_request.store_address %></td>
        <td><%#= spree_store_request.store_open_hours %></td>
        <td><%#= spree_store_request.store_social_media %></td>
        <td><%#= spree_store_request.store_desr %></td>
        <td><%#= spree_store_request.store_tags %></td>
        <td><%#= spree_store_request.store_main_img %></td>
        <td><%#= spree_store_request.store_logo %></td>
        <td><%#= spree_store_request.store_list_image %></td>
        <td><%#= link_to 'Show', spree_store_request %></td>
        <td><%#= link_to 'Edit', edit_store_request_path(spree_store_request) %></td>
        <td><%#= link_to 'Destroy', spree_store_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Spree Store Request', new_store_request_path %>
 -->