<!-- <p id="notice"><%#= notice %></p>

<p>
  <strong>Store name:</strong>
  <%#= @spree_store_request.store_name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%#= @spree_store_request.contact_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%#= @spree_store_request.contact_number %>
</p>

<p>
  <strong>Contact email address:</strong>
  <%#= @spree_store_request.contact_email_address %>
</p>

<p>
  <strong>Store number:</strong>
  <%#= @spree_store_request.store_number %>
</p>

<p>
  <strong>Store email address:</strong>
  <%#= @spree_store_request.store_email_address %>
</p>

<p>
  <strong>Store address:</strong>
  <%#= @spree_store_request.store_address %>
</p>

<p>
  <strong>Store open hours:</strong>
  <%#= @spree_store_request.store_open_hours %>
</p>

<p>
  <strong>Store social media:</strong>
  <%#= @spree_store_request.store_social_media %>
</p>

<p>
  <strong>Store desr:</strong>
  <%#= @spree_store_request.store_desr %>
</p>

<p>
  <strong>Store tags:</strong>
  <%#= @spree_store_request.store_tags %>
</p>

<p>
  <strong>Store main img:</strong>
  <%#= @spree_store_request.store_main_img %>
</p>

<p>
  <strong>Store logo:</strong>
  <%#= @spree_store_request.store_logo %>
</p>

<p>
  <strong>Store list image:</strong>
  <%#= @spree_store_request.store_list_image %>
</p>

<%#= link_to 'Edit', edit_store_request_path(@spree_store_request) %> |
<%#= link_to 'Back', @spree_store_request %> -->
