<!-- <div style="text-align: center;">
	<h1><%#= @about_us_main_content.try(:title)%></h1>
	<p>
		<%#= @about_us_para1_content.try(:description)%>
	</p>

	<hr>
	<p>
	<%#= @about_us_para2_content.try(:description)%>
	</p>
</div>

 -->

<!--- header end ----->
<!-- <div class="clearfix"></div>
 <div class="container">
  	<div class="register_my_dv">
     <div class="main_register_title stor-tille-main dis-secuss">
       <h2><%#= @about_us_main_content.try(:title)%></h2>      
    </div>
  </div>
 <div class="inner-sec-abt text-left">
  	<p class="body2"><%#= @about_us_para1_content.try(:description)%></p>
 </div>
</div>
<div class="clearfix"></div> -->
<!--- advertise ment section start--->
<!--<div class="adver-sec">-->
<!--  <div class="container">-->
   <%#= image_tag "advertize.jpg",class: "img-responsive", alt: "" %>
<!--  </div>-->
<!--</div>-->
<!--- advertise ment section end--->



<div class="clearfix"></div>
<div class="container">
  <div class="register_my_dv">
    <div class="main_register_title stor-tille-main dis-secuss">
      <h2>Our Story</h2>      
    </div>
  </div>
  
  <div class="abt-top-banner-gb">  
  <%= image_tag "about-top-banner-en.jpg", alt: "about-banner" %>
  </div>
  
  
  <div class="inner-sec-abt text-left">
  
  <div class="auth1">
  <h2>authentic <span class="sub-it">(adj) /ɔːˈθɛntɪk/</span></h2>
  <p class="gin-hb">original; reliable; trustworthy; of genuine origin.</p>
  </div>
  
  <div class="auth1">
  <h2>exclusive  <span class="sub-it">(adj) /ɪkˈskluːsɪv,ɛkˈskluːsɪv/</span></h2>
  <p class="gin-hb"> available through one means; limited; not mass-produced; fashionable.</p>
  </div>
  
  <div class="auth1">
  <h2>quality <span class="sub-it">(noun, adj) /ˈkwɒlɪti/</span></h2>
  <p class="gin-hb">high grade; superior; regarding fineness or excellence.</p>
  </div>
  
  <div class="clearfix"></div>
  
  <p class="body2 mrt-15-top">How do you tell a story through an item of clothing? Through quality. Through authenticity. And with a strong connection to its origins. At Black-Line, we are excited to share these stories with you – as your exclusive digital destination for custom-made, quality abayas.<br>
<br>


Black-Line was founded by Mohamed Alseiari – a proud UAE national with a desire to combine the authenticity of Emirati culture with innovative fashion trends and showcase them around the globe. The result is a digital abaya marketplace for the modern world – where talented designers can share their latest creations direct to you. <br>
<br>

Our global team works exclusively with local designers to bring to life the beauty and style of this iconic garment through handpicked designs that reflect and respect its culture and origins. The goal? To provide you with a carefully curated item that is as original as you are – tailored for your lifestyle.
<br>
<br>

In fact, the Black-Line story is much like the story of our abayas – where many quality threads are woven together to create something truly special. Through our garments, we invite you to find your own place in the world, and to tell your own unique story…</p>
  </div>
  
</div>
<!-- <div class="clearfix"></div> -->
<!--- advertise ment section start--->
<!-- <div class="adver-sec">
  <div class="container">
    <div class="adver-sec-mn"> <img class="img-responsive" src="images/advertize.jpg" alt=""> </div>
  </div>
</div> -->
<!--- advertise ment section end--->
<!-- <div class="things-sec">
  <div class="container">
    <p>Things You Might Want To Know</p>
  </div>
</div>
 -->