<!-- <h1>Editing Spree Store Request</h1>

<%#= render 'form', spree_store_request: @spree_store_request %>

<%#= link_to 'Show', @spree_store_request %> |
<%#= link_to 'Back', spree_store_requests_path %>
 -->