<div style="text-align: center;">
	<h1><%= @exchange_returns_main_content.try(:title)%></h1>
	<p>
		<%= @exchange_returns_para1_content.try(:description)%>
	</p>

	<hr>
	<p>
	<%= @exchange_returns_para2_content.try(:description)%>
	</p>
</div>

