<div style="text-align: center;">
	<h1><%= @faqs_main_content.try(:title)%></h1>
	<p>
		<%= @faqs_para1_content.try(:description)%>
	</p>

	<hr>
	<p>
	<%= @faqs_para2_content.try(:description)%>
	</p>
</div>

