<div style="text-align: center;">
	<h1><%= @gift_cards_main_content.try(:title)%></h1>
	<p>
		<%= @gift_cards_para1_content.try(:description)%>
	</p>

	<hr>
	<p>
	<%= @gift_cards_para2_content.try(:description)%>
	</p>
</div>

