<div style="text-align: center;">
	<h1><%= @terms_main_content.try(:title)%></h1>
	<p>
		<%= @terms_para1_content.try(:description)%>
	</p>

	<hr>
	<p>
	<%= @terms_para2_content.try(:description)%>
	</p>
</div>

