<div style="text-align: center;">
	<h1><%= @about_us_main_content.try(:title)%></h1>
	<p>
		<%= @about_us_para1_content.try(:description)%>
	</p>

	<hr>
	<p>
	<%= @about_us_para2_content.try(:description)%>
	</p>
</div>

