<div style="text-align: center;">
	<h1><%= @delivery_main_content.try(:title)%></h1>
	<p>
		<%= @delivery_para1_content.try(:description)%>
	</p>

	<hr>
	<p>
	<%= @delivery_para2_content.try(:description)%>
	</p>
</div>

