<div style="text-align: center;">
	<h1><%= @privacy_main_content.try(:title)%></h1>
	<p>
		<%= @privacy_para1_content.try(:description)%>
	</p>

	<hr>
	<p>
	<%= @privacy_para2_content.try(:description)%>
	</p>
</div>

